@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme{
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float{
          0%, 
          100% { 
            transform: translateY(0); 
          }

          50% { 
            transform: translateY(-15px); 
          }
      }
} 


@utility h2-temas{
  @apply text-3xl font-bold text-sky-800 text-center;
}

@utility h3-temas{
  @apply text-2xl font-bold text-sky-800 text-center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0d3454;
}